    ampb                               =                     
    ampf                               =                     
    cf                                 =                     
    find                               =                     
    first                              =                     
    ifbt                               =                     
    it                                 =                     
    itdv                               =                     
    itimes                             =                     
    itimes2                            =                     
    itr                                =                  
    iwindow                            =                     
    keyg                               =                  
    ng                                 =                     
    nowindow                           =                     
    np                                 =                     
    ntr                                =                    
    o                                  =                     
    offset                             =                     
    rec_o                              =                     
    t                                  =                     
    tdv                                =                   
    test                               =                     
    ttp                                =                     
    unscale                            =                   
    wb                                 =              
    wf                                 =                   
    window                             =                     