    bfile                              = 'binary'              
    dt                                 =               
    format                             = 1                   
    hfile                              = 'header'             
    jobid                              = 1                   
    keyword                            =               
    lino                               = 1                   
    ns                                 =               
    reno                               = 1                   