    ftn                                = 0                   
    head                               = 'bin_header_file'                
    ns                                 = 780              
    ntrpr                              = 1                   
    tsort                              = 1                 