    bare                               = 5                   
    index                              = 0                   
    key                                = if                  
    ntr                                = 50                  
    option                             = "                   
    sep                                = ">"                 
    verbose                            = 0                   
