    angmax                             = 60                  
    antiali                            = 1                   
    aperx                              = nxt*dxt/2           
    ds                                 = x-coordinate        
    dt                                 = or                  
    dvz                                = 0.0                 
    dxgo                               = 0.5*dxt             
    dxi                                = horizontal          
    dxso                               = 0.5*dxt             
    dxt                                = lateral             
    dzo                                = 0.2*dzt             
    dzt                                = depth               
    fmax                               = 0.25/dt             
    fs                                 = x-coordinate        
    ft                                 = or                  
    fxgo                               = fxt                 
    fxi                                = x-coordinate        
    fxso                               = fxt                 
    fxt                                = first               
    fzo                                = fzt                 
    fzt                                = first               
    infile                             = stdin               
    jpfile                             = stderr              
    mtr                                = 100                 
    ns                                 = number              
    ntr                                = 100000              
    nxgo                               = nxso                
    nxi                                = number              
    nxso                               = 2*(nxt-1)+1         
    nxt                                = number              
    nzo                                = 5*(nzt-1)+1         
    nzt                                = number              
    offmax                             = 99999               
    outfile                            = stdout              
    sgn                                = Sign                
    surf                               = "0,0;99999,0"       
    ttfile                             = file                
    v0                                 = and                 
    verbose                            = 0                   
