    aperx                              = nxt*dxt/2           
    datfile                            = defines             
    datsurf                            = 0                   
    dt                                 = or                  
    dzo                                = 0.2*dzt             
    freq                               = 50                  
    ft                                 = or                  
    fxgo                               = 0                   
    fxso                               = 0                   
    infile                             = stdin               
    jpfile                             = stderr              
    mtr                                = 100                 
    ntr                                = 100000              
    offmax                             = 99999               
    outfile                            = stdout              
    recfile                            = defines             
    recsurf                            = 1.                  
    scale                              = 1.0                 
    v0                                 = 1500(m/s)           
