    dt                                 =                     
    mode                               =                     
    sign                               =                     
    trend                              =                     
    unwrap                             =                     
    verbose                            =                     
    zeromean                           =                     