    cdpkey                             =                     
    choose                             =                    
    depthref                           =                    
    dp                                 =                     
    f1                                 =                    
    f2                                 =                    
    freq1                              =                     
    freq2                              =                     
    igopt                              =                     
    interoff                           =                    
    lagc                               =                     
    lent                               =                     
    lenx                               =                     
    ltaper                             =                     
    ninterp                            =                     
    nwin                               =                     
    nxmax                              =                     
    offkey                             =                     
    offref                             =                    
    pmax                               =                     
    pmin                               =                   
    pmula                              =                     
    pmulb                              =                     
    prewhite                           =                     
    xopt                               =                     