    A                                  = amplitude           
    a                                  = 0                   
    b                                  = 0                   
    dt                                 = (from               
    ntout                              = tr.ns               
    power                              = [optional           
    sym                                = 0                   
    verbose                            = 0                   
