    Az_key                             = to                  
    Q_key                              = to                  
    angle_inc                          = sets                
    inS11                              = input               
    inS12                              = input               
    inS21                              = input               
    inS22                              = input               
    lag_key                            = to                  
    maxlag                             = maximum             
    ntraces                            = 3                   
    outS11                             = output              
    outS12                             = output              
    outS21                             = output              
    outS22                             = output              
    taper                              = >1,                 
    taperwin                           = another             
    xcorr_key                          = to                  
