    anenv                              = 1                   
    c                                  = 0.04                
    depthref                           = 500                 
    dt                                 = 0.004               
    dx                                 = 20                  
    fx                                 = 0                   
    gopt                               = 1                   
    ninterp                            = 0                   
    nintlh                             = 50                  
    niter                              = 1                   
    noise                              = out_noise           
    norm                               = 1                   
    np                                 = 100                 
    offref                             = 2000                
    plot                               = 3                   
    pmax1                              = 400                 
    pmax2                              = pmax1               
    pmin1                              = -400                
    pmin2                              = pmin1               
    pmula                              = pmax1               
    pmulb                              = pmax1               
    prewhite                           = 0.01                
    r1                                 = 10                  
    r2                                 = 2                   
    rel1                               = 0.5                 
    rel2                               = 0.75                
    rgt                                = 2                   
    scl                                = 0                   
    sditer                             = 5                   
    signal                             = out_signal          
    sts                                = 1                   
    tmpdir                             = if                  
    verbose                            = 1                   
