    a                                  = "                   
    afile                              = ...                 
    angle                              = rad                 
    inv                                = 0                   
    key                                = keyword             
    n                                  = 0                   
    verbose                            = 0                   
    x                                  = 0.0,...             
    xfile                              = ...                 
