    cdp                                = 0                   
    eta                                = 0.                  
    etamax                             = 0.25                
    etamin                             = 0.10                
    ncdps                              = 1130                
    neta                               = 11                  
    nv                                 = 21                  
    nvstack                            = 0                   
    t                                  = 0.                  
    v                                  = 1500.               
    vmax                               = 2500.               
    vmin                               = 1500.               
    vminstack                          = 1450                
    vscale                             = 1.0                 
