    dt                                 = tr.dt               
    norm                               = rms                 
    ns                                 = tr.ns               
    t0                                 = 0.0                 
    t1                                 = TMAX                
