    cdpmax                             = maximum             
    cdpmin                             = minimum             
    dxcdp                              = distance            
    fmax                               = 0.5/dt              
    noffmix                            = number              
    offextr                            = offset              
    sdmo                               = 1.0                 
    tdmo                               = 0.0                 
    tmpdir                             = if                  
    vdmo                               = 1500.0              
    verbose                            = 0                   
