    FUNPACNYQ                          = 111                 
    Output                             = data1               
    SU_NFLTS                           = 32768).             
    file2                              = =                   
    op                                 = zipper,             
    trid                               = FUNPACKNYQ          
    w1                                 = 1.0                 
    w2                                 = 1.0                 
