    min                                = 0.                  
    ntr                                = tr.ntr              
    taper                              = 1                   
    tbeg                               = 0.                  
    tend                               = 0                   
    tr1                                = 0                   
    tr2                                = tr1                 
