    a                                  = 1.0                 
    b                                  = .0005               
    inv                                = 0                   
    key                                = offset              
    key2                               = header              
    scale                              = .0001               
