    choose                             = 1                   
    dtout                              = 1.5*dt              
    fmax                               = salias*0.5/dtout    
    lbtaper                            = 0                   
    lmute                              = 24                  
    lstaper                            = 0                   
    mxfold                             = 120                 
    ncdps                              = number              
    nonhyp                             = 1                   
    nvstack                            = 4                   
    salias                             = 0.8                 
    vhyp                               = 2500.               
    vminstack                          = 1500.               
