    cdpmin                             = cdpmax=             
    fmax                               = 0.5/dt              
    sdmo                               = 1.0                 
    tdmo                               = 0.0                 
    tmpdir                             = if                  
    vdmo                               = 1500.0              
    verbose                            = 0                   
