    cdpmin                             = cdpmax=             
    fmax                               = 0.5/dt              
    smute                              = 1.5                 
    speed                              = 1.0                 
    tdmo                               = 0.0                 
    vdmo                               = 1500.0              
    verbose                            = 0                   
    vfile                              = binary              
