    cdpmin                             = cdpmax=             
    factor                             = 1                   
    flip                               = 1.                  
    fmax                               = 0.5/dt              
    gamma                              = 0.5                 
    ntable                             = 1000                
    sdmo                               = 1.0                 
    tdmo                               = 0.0                 
    vdmo                               = 1500.0              
    verbose                            = 0                   
