    cdpmin                             = cdpmax=             
    etadmo                             = 1500.0              
    etafile                            = binary              
    fmax                               = 0.5/dt              
    smute                              = 1.5                 
    speed                              = 1.0                 
    tdmo                               = 0.0                 
    vdmo                               = vndmo               
    verbose                            = 0                   
    vfile                              = binary              
    vndmo                              = 1500.0              
    vnfile                             = binary              
