    cdpmin                             = cdpmax=             
    offmax                             = 3000.0              
    tmpdir                             = if                  
    tmute                              = 2.0                 
    verbose                            = 0                   
    vrms                               = 1500.0              
