    dt                                 = dt                  
    nt                                 = nt                  
    ntmin                              = ntmin               
    outpar                             = logpar              
    par                                = logpar              
