    h                                  = layer               
    mode                               = 0                   
    outpar                             = /dev/tty            
    par                                = stkpar              
    t                                  = vector              
    t0                                 = .4,.8,1.125,1.425   
    v                                  = interval            
    vs                                 = 5000,5523,6339,7264 
