    m                                  = 3                   
    nt                                 = )                   
    ntau                               = pow                 
    ntmin                              = )                   
    outpar                             = logpar              
    par                                = logpar              
