    anis1                              = 0                   
    anis2                              = 0                   
    cdp                                = cdp1,cdp2,...       
    invert                             = 0                   
    lmute                              = 25                  
    smute                              = 1.5                 
    sscale                             = 1                   
    tnmo                               = 0,...               
    upward                             = 0                   
    vnmo                               = v1,v2,...           
