    dt                                 = (from               
    key                                = cdp                 
    ps                                 = 0                   
    pwr                                = 1.0                 
    sl                                 = 0.0                 
    verbose                            = 0                   
