    d1                                 = .5                  
    dt                                 = .004                
    f                                  = 0,1,3,3.28          
    nt                                 = 8192                
    rf                                 = 2                   
    tmin                               = time                
    verbose                            = 0                   
