    dr1                                = 0.01                
    dr2                                = 0.01                
    dzratio                            = 5                   
    fr1                                = -0.25               
    fr2                                = -0.25               
    method                             = linear              
    nr1                                = 51                  
    nr2                                = 51                  
    nsmooth                            = dzratio*2+1         
    refl                               = npicks=             
    verbose                            = 0                   
