    dr                                 = 0.01                
    dzratio                            = 5                   
    fr                                 = -0.25               
    nr                                 = 51                  
    nsmooth                            = dzratio*2+1         
    smute                              = 1.5                 
    verbose                            = 0                   
