    a                                  = -25094431,-25094431 
    elevation                          = 0).                 
    gstat                              = sstat               
    hdrs                               = 2,3                 
    key1                               = selev,gelev         
    no                                 = 96                  
    nr                                 = 335                 
    ns                                 = max                 
    rec_file                           = input               
    sign                               = 1                   
    sou_file                           = input               
    sstat                              = 10^scalel*(sdel     
    tstat                              = sstat               
    v0                                 = v1                  
    v1                                 = user-defined        
