    dip                                = 0.0                 
    h                                  = 1000,1200,1300,1500 
    outpar                             = /dev/tty            
    par                                = stkpar              
    tv                                 = zero                
    v                                  = 5000,6000,8000,10000
