    key                                = offset.             
    normpow                            = 0                   
    nrepeat                            = 10                  
    repeat                             = 1                   
    verbose                            = 0                   
