    V_r                                = replacement         
    blvl_file                          = base                
    dx                                 = midpoint            
    dzv                                = velocity            
    fx                                 = first               
    gstat                              = sstat               
    hdrs                               = 5,                  
    mx                                 = number              
    mz                                 = number              
    no                                 = 96                  
    nr                                 = 335                 
    ns                                 = 240                 
    nsamp                              = number              
    rec_file                           = input               
    refr_file                          = horizontal          
    sign                               = 1                   
    sou_file                           = input               
    sstat                              = 10^scalel*(sdel     
    tstat                              = sstat               
    v0                                 = v1                  
    v1                                 = user-defined        
    vfile                              = near-surface        
