    cdp                                = cdp1,cdp2,...       
    dx                                 = 25                  
    key                                = cdp                 
    lmute                              = 25                  
    minlag                             = 0.2                 
    smute                              = 1.5                 
    sscale                             = 1                   
    tmute                              = 7.8,7.8,4.5,3.5,2.0,0.35
    tnmo                               = 0.5,2,4             
    vnmo                               = v1,v2,...           
