    2                                  = Bleistein's         
    3                                  = Bleistein's         
    4                                  = Zhang's             
    5                                  = Tsvankin's          
    6                                  = Tsvankin's          
    d                                  = 0.                  
    dx                                 = 50.                 
    e                                  = 0.                  
    file                               = vnmo                
    h                                  = 200.0               
    ntpad                              = 0                   
    nxmax                              = 32                  
    nxpad                              = h/dx                
    option                             = 5--otherwise        
    v                                  = 1500.0              
