    dtratio                            = 5                   
    dv                                 = 50.0                
    fv                                 = 1500.0              
    nsmooth                            = dtratio*2+1         
    nv                                 = 50                  
    nx                                 = tr.cdpt             
    pwr                                = 1.0                 
    smute                              = 1.5                 
    verbose                            = 0                   
