    dtratio                            = 5                   
    dv                                 = 50.0                
    dvh                                = 50.0                
    fv                                 = 1500.0              
    fvh                                = 1500.0              
    j                                  = 0                   
    nsmooth                            = dtratio*2+1         
    nv                                 = 50                  
    nvh                                = 50                  
    vavg                               = fv+0.5*(nv-1)*dv    
    verbose                            = 0                   
    xod                                = 1.5                 
