    dt                                 = 2*dz/vmin           
    ft                                 = 2*fz/v(fz)          
    nt                                 = 1+(nz-1)*2.0*dz/(vmax*dt)
    v                                  = 1500.0,...          
    verbose                            = 0                   
    vfile                              = binary              
    z                                  = 0.0,100,200,...     
