    llx                                = new                 
    lly                                = new                 
    urx                                = new                 
    ury                                = new                 
    verbose                            = 1                   
