    d1                                 = tr.d1               
    d2                                 = f2=                 
    f1                                 = tr.f1               
    f2                                 = tr.f2               
    tmpdir                             = if                  
    verbose                            = 0                   
