    axesColor                          = color               
    bclip                              = minimum             
    cmap                               = gray                
    edgecolor                          = cyan                
    grid1                              = grid                
    grid2                              = grid                
    gridColor                          = color               
    height                             = height              
    label1                             = label               
    label2                             = label               
    labelFont                          = font                
    nTic1                              = number              
    nTic2                              = number              
    style                              = normal              
    title                              = title               
    titleColor                         = color               
    titleFont                          = font                
    tricolor                           = yellow              
    wclip                              = maximum             
    width                              = width               
    x1beg                              = x1min               
    x1end                              = x1max               
    x2beg                              = x2min               
    x2end                              = x2max               
