    hue                                =                     
    q                                  =   
    rayfile                            =                     
    sttfile                            =                     
    tbs                                =                     
    verbose                            =                     
    wffile                             =                     