    hue                                = 1                   
    q                                  = -0.6,0.06,-0.06,0.8 
    rayfile                            = NULL                
    sttfile                            = NULL                
    tbs                                = 0.8                 
    verbose                            = 0                   
    wffile                             = NULL                
