    CWBackingStore                     = =Always             
    c                                  = fc,fc+dc,...        
    ccolor                             = none,...            
    cdash                              = 0.0,...             
    cwidth                             = 1.0,...             
    d1                                 = 1.0                 
    d1num                              = 0.0                 
    d2                                 = 1.0                 
    d2num                              = 0.0                 
    dc                                 = (zmax-zmin)/nc      
    f1                                 = 0.0                 
    f1num                              = x1min               
    f2                                 = 0.0                 
    f2num                              = x2min               
    fc                                 = min+dc              
    grid1                              = none                
    grid2                              = none                
    gridcolor                          = blue                
    hbox                               = 700                 
    label2                             = label               
    labelccolor                        = black               
    labelcf                            = 1                   
    labelcfont                         = fixed               
    labelcolor                         = blue                
    labelcper                          = 1                   
    labelfont                          = Erg14               
    mpicks                             = /dev/tty            
    n1                                 = [optional           
    n1tic                              = 1                   
    n2                                 = all                 
    n2tic                              = 1                   
    nc                                 = 5                   
    nlabelc                            = nc                  
    nplaces                            = 6                   
    style                              = seismic             
    title                              = title               
    titlecolor                         = red                 
    titlefont                          = Rom22               
    verbose                            = 1                   
    wbox                               = 550                 
    windowtitle                        = xwigb               
    x1                                 = f1,f1+d1,...        
    x1beg                              = x1min               
    x1end                              = x1max               
    x2                                 = f2,f2+d2,...        
    x2beg                              = x2min               
    x2end                              = x2max               
    xbox                               = 50                  
    ybox                               = 50                  
