    alpha                              =                     
    beta                               =                     
    dv                                 =                     
    ev                                 =                     
    gamma                              =                     
    outpar                             =                   
    rho                                =                     
    sign                               =                    
    x1                                 =                     
    x3                                 =                     