    aspect                             =                     
    cdens                              =                     
    fill                               =                     
    outpar                             =                   
    rho                                =                     
    vp                                 =                     
    vs                                 =                     