    NPAIRS                             =               
    both                               =                     
    c                                  =                     
    dgx                                =                     
    dgz                                =                     
    dsx                                =                     
    dsz                                =                     
    fmax                               =                     
    fmin                               =                     
    fnyq                               =                     
    gxmin                              =                     
    gzmin                              =                     
    n                                  =             
    nfreq                              =                     
    ngeo                               =                     
    npairs                             =                    
    nshot                              =                     
    nstep                              =                     
    outpar                             =                   
    sxmin                              =                     
    szmin                              =                     
    x0                                 =                     
    z0                                 =                     