    PHI                                = .                   
    a_file                             = -,                  
    azimuth                            = .                   
    dangle                             =                     
    dazim                              =                     
    delta1                             =                     
    delta1_1                           =                     
    delta1_2                           =                     
    delta1_3                           =                     
    delta1_v                           =                     
    delta2_3                           =                     
    eps1                               =                     
    eps1_1                             =                     
    eps1_2                             =                     
    eps1_v                             =                     
    eps2                               =                     
    eps2_1                             =                     
    eps2_2                             =                     
    eps2_v                             =                     
    fangle                             =                     
    fazim                              =                     
    gamma1                             =                     
    gamma1_1                           =                     
    gamma1_2                           =                     
    gamma1_v                           =                     
    hspace1                            =                     
    hspace2                            =                     
    kappa                              = .                   
    langle                             =                     
    lazim                              =                     
    out_Error                          =                     
    out_P                              =                     
    out_S                              =                     
    out_SVSH                           =                     
    out_inf                            =                     
    rho1                               =                     
    vp1                                =                     
    vp2                                =                     
    vs1                                =                     