    dconly                             =                     
    dfile                              =                     
    dmrafile                           =                     
    mralevel1                          =                     
    mralevel2                          =                     
    n1                                 =                     
    n2                                 =                     
    nc1                                =                     
    nc2                                =                     
    order                              =                     
    p1                                 =                     
    p2                                 =                     
    reconfile                          =                     
    reconmrafile                       =                     
    trimfile                           =                     
    trunc                              =                     
    verbose                            =                     