    axis1                              =                     
    axis2                              =                     
    coeffile                           =                     
    dangle                             =                     
    delta1                             =                     
    delta2                             =                     
    eps1                               =                     
    eps2                               =                     
    fangle                             =                     
    ibin                               =                     
    iscale                             =                     
    langle                             =                     
    modei                              =                     
    modet                              =                     
    outparfile                         =                     
    rho1                               =                     
    rho2                               =                     
    rort                               =                     
    vp1                                =                     
    vp2                                =                     
    vs1                                =                     
    vs2                                =                     