    i1s                                =                     
    id1s                               =                     
    id2s                               =                     
    id3s                               =                     
    if1s                               =                     
    if2s                               =                     
    if3s                               =                     
    ix1s                               =                   
    ix2s                               =                   
    ix3s                               =                   
    n1                                 =                     
    n1s                                =                   
    n2                                 =                     
    n2s                                =                   
    n3                                 =                   
    n3s                                =              