    n1                                 =                     
    n3                                 =                     
    nbpe                               =                     
    perm                               =                     
    scratchdir                         = /tmp                  
    scratchstem                        =                     
    verbose                            =                     