    a                                  =                     
    f                                  =                     
    format                             =                   
    idx                                =                     
    invert                             =                  
    letter                             =                     
    lon0                               =                     
    verbose                            =                     
    xoff                               =                     
    ynoff                              =                     
    ysoff                              =                     