    dfile                              =                     
    dzfile                             =                     
    moff                               =                     
    ncip                               =                     
    noff                               =                     
    outfile                            =                     