    a1                                 =                     
    a2                                 =                     
    h                                  =                  
    mode                               =                     
    stepmax                            =                     
    tol                                =                     
    y0                                 =                     