    a                                  =                     
    dt                                 =                     
    nt                                 =                     
    v0                                 =                     
    velocity                           =                     