    height                             =                     
    npairs                             =                     
    nx1                                =                     
    nx2                                =                     
    scale                              =                     
    x1pad                              =                     
    x2pad                              =                     
    yx                                 =                     