    conv                               =                     
    np                                 =                     
    tmig                               =                     
    trans                              =                     
    verbose                            =                     
    vfile                              =                     
    vmig                               =                     