    hmute                              =                 
    header_word|key                    =             
    linvel                             =                  
    type|mode                          =                    
    nmute                              =               
    ntaper                             =
    par_directory					   = 'PL_SEISMIC'
    par_file|parfile|par  			   =              
    tfile                              =                 
    tm0                                =                   
    tmute                              =                
    twindow                            =               
    xfile                              =                 
    xmute                              =                