    doff                               =                     
    dshot                              =                     
    legend                             =                     
    noff                               =                     
    nshot                              =                     
    nt                                 =                     