    dx                                 =                    
    key                                =                     
    low                                =                    
    max                                =                    
    min                                =                    
    taper                              =                     
    tbeg                               =                    
    tend                               =                     
    tr1                                =                     
    tr2                                =                     