    dw                                 =                     
    dx                                 =                     
    dy                                 =                     
    file                               =                    
    ilkey                              =                     
    pass                               =                     
    x                                  =              
    xkey                               =                     
    xlkey                              =                     
    y                                  =             
    ykey                               =                     