    compon                             = 0                   
    dt                                 = 0.004               
    fpeak                              = 0.1/dt              
    ft                                 = 0.0                 
    inter                              = 1                   
    krecord                            = 1                   
    lscale                             = if                  
    nameref                            = -1                  
    ng                                 = 101                 
    nt                                 = 251                 
    reftrans                           = 0                   
    xfile                              = x_compon.bin        
    xg                                 = x                   
    zfile                              = z_compon.bin        
    zg                                 = z                   
