    amp                                = 1.0                 
    ang                                = 0.0                 
    aperture                           = maximum             
    atten                              = 0                   
    bw                                 = 0                   
    dt                                 = 0.004               
    fpeak                              = 0.1/dt              
    ft                                 = 0.0                 
    krecord                            = 1                   
    lscale                             = if                  
    ng                                 = 101                 
    nt                                 = 251                 
    prim                               = 1,                  
    reftrans                           = 0                   
    xg                                 = x                   
    zg                                 = z                   
