    angle                              = normal_direction-nangle/2*dangle-ashift.
    caustic                            = 1,                  
    fangle                             = -45                 
    ffreq                              = -1                  
    nangle                             = 101                 
    nonsurface                         = 1.                  
    nt                                 = 101                 
    nxz                                = 101                 
    prim                               = 1,                  
    refseq                             = ,                   
