    SV                                 =                     
    VP0file                            =                     
    VS0file                            =                     
    a1111file                          =                     
    a1113file                          =                     
    a1133file                          =                     
    a3313file                          =                     
    amax                               =                     
    amin                               =                     
    aperx                              =                 
    da                                 =                     
    deltafile                          =                     
    dsx                                =                     
    dt                                 =                     
    dx                                 =                     
    dxo                                =                     
    dz                                 =                     
    dzo                                =                     
    epsilonfile                        =                     
    fa                                 = -                   
    fac                                =                     
    fsx                                =                     
    fx                                 =                     
    fxo                                =                     
    fz                                 =                     
    fzo                                =                     
    na                                 =                     
    nsx                                =                     
    nt                                 =                     
    nx                                 =                     
    nxo                                =                     
    nz                                 =                     
    nzo                                =                     