    amax                               =                     
    amin                               =                     
    aperx                              = 
    csfile                             =                     
    da                                 =                     
    dt                                 =                     
    dx                                 =                     
    dxo                                =                     
    dxs                                =                     
    dz                                 =                     
    dzo                                =                     
    ek                                 =                     
    fa                                 = -                   
    fac                                =                     
    fx                                 =                     
    fxo                                =                     
    fxs                                =                     
    fz                                 =                     
    fzo                                =                     
    ms                                 =                     
    mx                                 =                     
    na                                 =                     
    npv                                =                     
    nt                                 =                     
    nx                                 =                     
    nxo                                =                     
    nxs                                =                     
    nz                                 =                     
    nzo                                =                     
    pvfile                             =                     
    restart                            =                     
    surf                               =      
    tfile                              =                     
    tvfile                             =                     
    vfile                              =                     