    d1                                 =                     
    d1r                                =                     
    f1                                 =                     
    f1r                                =                     
    n1                                 =                     
    n1r                                =                     
    n2                                 =                     