    efile                              =                     
    n1                                 =                     
    n2                                 =                     
    r1                                 =                     
    r2                                 =                     
    rw                                 =                     
    win                                =           