    d1                                 =                     
    d2                                 =                     
    d3                                 =                     
    depth                              =                     
    iter                               =                     
    mu                                 =                     
    n1                                 =                     
    n2                                 =                     
    n3                                 =                     
    r1                                 =                
    r2                                 =                     
    r3                                 =                     
    slowness                           =                     
    time                               =                     
    verbose                            =                     
    vmaxc                              =                     
    vminc                              =                     