    method                             =                     
    n1                                 =                     
    ninf                               =                     
    npmax                              =                     
    r                                  =                     
    z                                  =                    