    c11_file                           = 'c11.bin'                  
    c13_file                           = 'c13.bin'                  
    c33_file                           = 'c33.bin'                  
    c44_file                           = 'c44.bin'                  
    delta_file                         = 'delta.bin'                  
    eps_file                           = 'eps.bin'                  
    nx                                 =                     
    nz                                 =                     
    rho_file                           = 'rho.bin'                  
    vp_file                            = 'vp.bin'                  
    vs_file                            = 'vs.bin'                  