    N                                  = 2*n.                
    Output                             = Signal              
    amps                               = a1,a2,...           
    dt                                 = (from               
    f                                  = 20,30,40,50         
    noise                              = gauss               
    scale                              = (1/sn)              
    seed                               = from_clock          
    sn                                 = 20                  
    tmpdir                             = if                  
    verbose                            = 0                   
