    abs                                = 1,1,1,1             
    dfile                              = input               
    dx                                 = 1.0                 
    dz                                 = 1.0                 
    fmax                               = vmin/(10.0*h)       
    fpeak                              = 0.5*fmax            
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    hsfile                             = output              
    hsz                                = z                   
    mt                                 = 1                   
    nt                                 = 1+tmax/dt           
    nx                                 = number              
    nz                                 = number              
    pml_max                            = 1000.0              
    pml_thick                          = 0                   
    ssfile                             = output              
    tmax                               = maximum             
    verbose                            = 0                   
    vsfile                             = output              
    vsx                                = x                   
    xs                                 = x                   
    zs                                 = z                   
