    abso                               = 0.1                 
    amode                              = 0:                  
    amps                               = 1.0                 
    c11file                            = c11                 
    c13file                            = c13                 
    c15file                            = c15                 
    c33file                            = c33                 
    c35file                            = c35                 
    c55file                            = c55                 
    densfile                           =                
    dt                                 =              
    dtsnap                             = 0.0                 
    dx                                 =           
    dz                                 =              
    fmax                               =             
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    iabso                              = 1).                 
    irx                                =          
    irz                                =           
    isx                                =               
    isz                                =               
    jpfile                             =           
    nbwx                               = 20                  
    nbwz                               = 20                  
    nt                                 = number              
    nx                                 = number              
    nz                                 = number              
    prec                               = 2).                 
    rxtyp                              = types               
    rztyp                              = types               
    samp                               = amplitudes          
    sflag                              = 1)                  
    sname                              = wavelet.su          
    snap                               = snap_               
    sntyp                              = types               
    styp                               = source              
    t                                  = 0)                  
    verbose                            = 0                   
    vmax                               = global              
    vmaxu                              = user-defined        
    vmin                               = global              
    vpfile                             = vp                  
    vsfile                             = vs                  
    w                                  = 2                   
    xsect                              = xsect_              
    zsect                              = zsect_              