    abso                               = 0.1                 
    amps                               = 1.0                 
    densfile                           = dens                
    dt                                 = time                
    dtsnap                             = 0.0                 
    dx                                 = spatial             
    dz                                 = spatial             
    fmax                               = maximum             
    fsflag                             = 1)                  
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    iabso                              = 1).                 
    irx                                = horizontal          
    irz                                = vertical            
    isx                                = grid                
    isz                                = grid                
    jpfile                             = stderr              
    nbwx                               = 20                  
    nbwz                               = 20                  
    nt                                 = number              
    nx                                 = number              
    nz                                 = number              
    opflag                             = 1).                 
    prec                               = 2).                 
    sepxname                           = sectx.su            
    sepzname                           = sectz.su            
    sflag                              = 1)                  
    sname                              = wavelet.su          
    snpname                            = snap.su             
    t                                  = 0)                  
    velfile                            = vel                 
    verbose                            = 0                   
    vmaxu                              = user-defined        
    w                                  = 2                   