    dt                                 = 0.004               
    it1                                = nt/4                
    it2                                = 3*nt/4              
    it3                                = nt/4;               
    it4                                = 3*nt/4;             
    ix1                                = ntr/4               
    ix2                                = ntr/4               
    ix3                                = 3*ntr/4;            
    ix4                                = 3*ntr/4;            
    nspk                               = 4                   
    nt                                 = 64                  
    ntr                                = 32                  
    offset                             = 400                 
