    crfile                             =                     
    dsx                                =                     
    dsy                                =                     
    dtwf                               =                     
    dxgd                               =                     
    dygd                               =                     
    edgemax                            =                     
    fsx                                =                
    fsy                                =                 
    fsz                                =                   
    fxgd                               =                     
    fygd                               =                     
    ifwf2dump                          =                     
    irefseq                            =              
    jpfile                             =                     
    maxnrays                           =                     
    maxnsegs                           =                     
    maxntris                           =                     
    nazimuth                           =                     
    nsx                                =                     
    nsy                                =                     
    ntakeoff                           =                     
    ntwf                               =                     
    nwf2dump                           =                     
    nxgd                               =                     
    nxt                                =                  
    nygd                               =                     
    nyt                                =                 
    rayfile                            =                     
    shootupward                        =                     
    sttfile                            =                     
    takeoff                            =                     
    tmax                               =                     
    verbose                            =                     
    wffile                             =                     