    dt                                 =                     
    f1                                 =                     
    f2                                 =                     
    fseg                               =                
    phz                                =                     
    radians                            =                     
    swconst                            =                     
    sweep                              =                     
    t1                                 =                  
    t2                                 =                     
    taper                              =                     
    tseg                               =               
    tv                                 =                     