    amplitude                          =                     
    decay                              =                     
    distort                            =                     
    dt                                 =                     
    fpeak                              =                     
    half                               =                     
    ipa                                =                    
    key                                =                     
    npl                                =                     
    ns                                 =                     
    period                             =                     
    t                                  =                     
    tn                                 =                     
    tspike                             =                     
    type                               =                     
    verbose                            =                     