    axesColor                          =                     
    bclip                              =                     
    cmap                               =                     
    edgecolor                          =                     
    grid1                              =                     
    grid2                              =                     
    gridColor                          =                     
    height                             =                     
    label1                             =                     
    label2                             =                     
    labelFont                          =                     
    nTic1                              =                     
    nTic2                              =                     
    style                              =                     
    title                              =                     
    titleColor                         =                     
    titleFont                          =                     
    tricolor                           =                     
    wclip                              =                     
    width                              =                     
    x1beg                              =                     
    x1end                              =                     
    x2beg                              =                     
    x2end                              =                     