    blt                                =                     
    dvdz00                             =                    
    dvdz01                             =                    
    dvdz0file                          =                     
    dvdz10                             =                    
    dvdz11                             =                    
    dvdz1file                          =                     
    ficth                              =                   
    hzfile                             =                     
    nhz                                =                     
    nxhz                               =                     
    nyhz                               =                     
    v00                                =         
    v01                                =         
    v0file                             =                     
    v10                                =         
    v11                                =         
    v1file                             =                     
    verbose                            =                     
    x0file                             =                     
    x1file                             =                     
    xmax                               =                     
    xmin                               =                     
    y0file                             =                     
    y1file                             =                     
    ymax                               =                     
    ymin                               =                     
    z00                                =           
    z01                                =           
    z0file                             =                     
    z10                                =           
    z11                                =           
    z1file                             =                     
    zmax                               =                     