    eps                                =                     
    gamma                              =                     
    outpar                             =                  
    vp                                 =                     
    vs                                 =                     
    weak                               =                     