    delta                              =                     
    eps                                =                     
    gamma                              =                     
    outpar                             =                    
    phi                                =                     
    rho                                =                     
    sign                               =                     
    vp                                 =                     
    vs                                 =                     