    d1                                 =                     
    d2                                 =                     
    f1                                 =                     
    f2                                 =                     
    n1                                 =                     
    n2                                 =                     
    sloth                              =                  