    densfill                           = ,                   
    kedge                              =                     
    maxangle                           =                     
    qfill                              = ,                   
    sedge                              =                     
    sfill                              = ,                   
    xedge                              =                     
    xmax                               =                     
    xmin                               =                     
    zedge                              =                     
    zmax                               =                     
    zmin                               =                     