    cx                                 =                   
    cy                                 =                   
    cz                                 =                  
    hue                                =                     
    n1                                 =                     
    n1s                                =                     
    n2                                 =                     
    n2s                                =                     
    n3                                 =                     
    n3s                                =                     
    q                                  =      
    tbs                                =                     