    fangle                             =                    
    ffreq                              =                    
    fresnelfile                        =                     
    infofile                           =                     
    krecord                            =                     
    langle                             =                     
    nangle                             =                     
    nt                                 =                     
    nxz                                =                     
    outparfile                         =                     
    prim                               =                    
    rayfile                            =                     
    refseq                             =                    
    wavefile                           =                     
    xs                                 =                     
    zs                                 =                     