    aperture                           =                     
    atten                              =                     
    bw                                 =                     
    dg                                 =                     
    dgds                               =                     
    ds                                 =                     
    dt                                 =                     
    fangle                             =                    
    fg                                 =                     
    fpeak                              =                     
    fs                                 =                     
    ft                                 =                     
    krecord                            =                     
    kreflect                           =                    
    langle                             =                     
    lscale                             =                     
    nangle                             =                     
    ng                                 =                     
    ns                                 =                     
    nt                                 =                     
    prim                               =                    
    reftrans                           =                     
    xg                                 =                     
    xs                                 =                     
    zg                                 =                     
    zs                                 =                     