    d1                                 =                     
    d2                                 =                     
    efile                              =                     
    errmax                             =                     
    f1                                 =                     
    f2                                 =                     
    ifile                              =                     
    method                             =                     
    mfile                              =                     
    mm                                 =                     
    n1                                 =                     
    n2                                 =                     
    sfill                              =                  
    sloth                              =                 
    tol                                =                     
    verbose                            =                     