    c11_file                           =                     
    c13_file                           =                     
    c15_file                           =                     
    c33_file                           =                     
    c35_file                           =                     
    c55_file                           =                     
    dddx                               =                    
    dddz                               =                    
    dedx                               =                    
    dedz                               =                    
    delta00                            =          
    drdx                               =                    
    drdz                               =                    
    dvpdx                              =                    
    dvpdz                              =                    
    dx                                 =                     
    dz                                 =                     
    eps00                              =             
    fx                                 =                     
    fz                                 =                     
    method                             =                     
    n1                                 =                     
    ninf                               =                     
    npmax                              =                     
    ns                                 =                     
    nufile                             =                     
    nx                                 =                     
    nz                                 =                     
    rho00                              =                   
    tfile                              =                     
    vp00                               =                   
    x0                                 =                    
    z0                                 =                    