    afile                              =                     
    bfile                              =                     
    dx                                 =                     
    dz                                 =                     
    fx                                 =                     
    fz                                 =                     
    nx                                 =                     
    nz                                 =                     
    sfile                              =                     
    xs                                 =                     
    zs                                 =                     