    gather_type						   =
    hmute                              =                 
    header_word|key                    =             
    linvel                             = 
    multi_gather_par_file			   =     
    multi_gather_su_file			   =              
    type|mode                          =                    
    nmute                              =               
    ntaper                             =
    par_file|parfile|par  			   =              
    tfile                              =                 
    tm0                                =                   
    tmute                              =                
    twindow                            =               
    xfile                              =                 
    xmute                              =                