    base_file_name                     = Locci_cmp300        
    gather_header                      = ep                  
    offset_type                        = tracr               
    first_gather                       = 150                 
    gather_inc                         = 1000                
    last_gather                        = 4850                
    freq                               = 5,10,80,200         
    gather_type                        = SP                  
    min_amplitude                      = -5                  
    max_amplitude                      = 5                   
