HOME                               = /home/gllor/       
PROJECT_HOME                       = /home/gllor/LiClipse
site                               = VetSchool           
spare_dir                          = E                   
date                               = 100619              
component                          = H                   
line                               = 1                   
subUser                            = gllor              
geomaps                            = no                  
geopsy                             = no                  
gmt                                = no                  
grass                              = no                  
matlab                             = yes                 
mmodpg                             = no                  
sqlite                             = no                  
