    HOME                               = /home/gllore        
    PROJECT_HOME                       = /home/gllore/demos  
    site                               =                     
    spare_dir                          = sumute              
    date                               =                     
    component                          =                     
    line                               =                     
    geomaps                            = no                  
