    base_file_name                     = All_cmp             
    cdp_first                          = 0                   
    cdp_inc                            = 2                   
    cdp_last                           = 300                 
    data_scale                         = 1                   
    dt_s                               = 1                   
    tmax_s                             = 1                   
    freq                               = 0,3,60,90           
    number_of_velocities               = 300                 
    first_velocity                     = 3                   
    velocity_increment                 = 2                   
    min_semblance                      = .0                  
    max_semblance                      = .6                  
