    first_file_number_in               = 1                   
    last_file_number_in                = 120                 
    number_of_files_in                 = 121                 
    input_suffix                       = su                  
    input_name_prefix                  =                     
    input_name_extension               =                     
    list                               =                     
    output_file_name                   = 1_120               
    alternative_inbound_directory      =                     
    alternative_outbound_directory     =                     
