HOME                               = /home/gllore        
PROJECT_HOME                       = /home/gllore/DuncanPoint
site                               = FarrPark            
spare_dir                          =                     
date                               = 032424              
component                          = H                   
line                               = 1                   
subUser                            = gllore              
geomaps                            = no                  
geopsy                             = no                  
gmt                                = no                  
grass                              = no                  
matlab                             = no                  
mmodpg                             = yes                 
sqlite                             = no                  
