    2                                  = Foster/Mosher       
    3                                  = linear              
    a1                                 = 1.0                 
    a2                                 = 1.0                 
    a3                                 = 1.0                 
    a4                                 = 1.0                 
    cdp                                = 1                   
    depthref                           = 400                 
    dt                                 = 0.001               
    gopt                               = 1                   
    nspk                               = 4                   
    nt                                 = 300                 
    ntr                                = 20                  
    offinc                             = 100                 
    offref                             = 2000                
    p1                                 = 0                   
    p2                                 = 200                 
    p3                                 = 0;                  
    p4                                 = 120                 
    t1                                 = 100                 
    t2                                 = 100                 
    t3                                 = 200                 
    t4                                 = 200                 
