    crfile                             = NULL                
    dsx                                = dxgd                
    dsy                                = (zmax-zmin)/2       
    dtwf                               = 0.05                
    dxgd                               = (xmax-xmin)/(nxgd-1)
    dygd                               = (ymax-ymin)/(nygd-1)
    edgemax                            = 4                   
    fsx                                = fxgd+nxgd/2*dxgd    
    fsy                                = fygd+nygd/2*dygd    
    fsz                                = zmin+(zmax-zmin)/2  
    fxgd                               = xmin(from           
    fygd                               = ymin(from           
    ifwf2dump                          = 20                  
    irefseq                            = nhz-1,...           
    jpfile                             = stderr              
    maxnrays                           = 600                 
    maxnsegs                           = 100                 
    maxntris                           = 1000                
    nazimuth                           = 15                  
    nsx                                = 1                   
    nsy                                = 1                   
    ntakeoff                           = 5                   
    ntwf                               = MAX(ntwf,ifwf2dump+nwf2dump)
    nwf2dump                           = 1                   
    nxgd                               = number              
    nxt                                = nxgd*2/2+1          
    nygd                               = number              
    nyt                                = nygd*2/2+1          
    rayfile                            = NULL                
    shootupward                        = 1                   
    sttfile                            = NULL                
    takeoff                            = 30.0                
    tmax                               = 10                  
    verbose                            = 0                   
    wffile                             = NULL                
