    dt                                 = 0.004               
    f1                                 = 10.0                
    f2                                 = 60.0                
    fseg                               = 10.0,60.0           
    phz                                = 0.0                 
    radians                            = 1                   
    swconst                            = 0.0                 
    sweep                              = 2                   
    t1                                 = t2=0.0.             
    t2                                 = 1.0                 
    taper                              = 1                   
    tseg                               = 0.0,10.0            
    tv                                 = 10.0                
