    amplitude                          = 1                   
    decay                              = 4*fpeak             
    distort                            = 0.0                 
    dt                                 = 0.004               
    fpeak                              = 20.0                
    half                               = 1/fpeak             
    ipa                                = -90                 
    key                                = delrt               
    npl                                = 1                   
    ns                                 = if                  
    period                             = c*half              
    t                                  = 0                   
    tn                                 = 2                   
    tspike                             = 0.0                 
    type                               = ricker1             
    verbose                            = 0                   
