    densfill                           = x,                  
    kedge                              = array               
    maxangle                           = 5.0                 
    qfill                              = x,                  
    sedge                              = sloth               
    sfill                              = x,                  
    xedge                              = x                   
    xmax                               = 1.0                 
    xmin                               = 0.0                 
    zedge                              = z                   
    zmax                               = 1.0                 
    zmin                               = 0.0                 
