    fangle                             = -45                 
    ffreq                              = -1                  
    fresnelfile                        = used                
    infofile                           = ASCII-file          
    krecord                            = if                  
    langle                             = 45                  
    nangle                             = 101                 
    nt                                 = 101                 
    nxz                                = 101                 
    outparfile                         = contains            
    prim                               = =1,                 
    rayfile                            = file                
    refseq                             = ,                   
    wavefile                           = file                
    xs                                 = (max-min)/2         
    zs                                 = min                 
