    aperture                           = maximum             
    atten                              = 0                   
    bw                                 = 0                   
    dg                                 = increment           
    dgds                               = 0.0                 
    ds                                 = increment           
    dt                                 = 0.004               
    fangle                             = -45                 
    fg                                 = 0.0                 
    fpeak                              = 0.1/dt              
    fs                                 = 0.0                 
    ft                                 = 0.0                 
    krecord                            = 1                   
    kreflect                           = -1                  
    langle                             = 45                  
    lscale                             = if                  
    nangle                             = 101                 
    ng                                 = 101                 
    ns                                 = 1                   
    nt                                 = 251                 
    prim                               = 1,                  
    reftrans                           = 0                   
    xg                                 = x                   
    xs                                 = x                   
    zg                                 = z                   
    zs                                 = z                   
