    angle                              =                    
    d1                                 =                     
    d2                                 =                     
    phasefac                           =                     
    power                              =                    
    sign                               =                     
    w                                  =                     