    Mix                                =                     
    adb                                =                     
    ct                                 =                     
    d1                                 =                    
    dir                                =                     
    dx                                 =                     
    f1                                 =                     
    f2                                 =                     
    ffdi                               =                     
    ffdim                              =                     
    ffdr                               =                     
    ffdrm                              =                     
    first                              =                     
    fr                                 =                     
    i                                  =                   
    if1                                =                     
    if2                                =                     
    ifr                                =                     
    ime                                =                     
    ims                                =                     
    itr                                =                    
    itrm                               =                
    iw                                 =          
    key                                =                  
    maxmix                             =                   
    mix                                =                     
    nf                                 =                     
    nfft                               =                     
    ng                                 =                     
    nmix                               =                     
    nt                                 =                   
    ntr                                =                    
    r                                  =                  
    rec_o                              =                     
    rt                                 =                     
    snfft                              =                     
    tmpr                               =                     
    tri                                =                     
    vel                                =                     
    verbose                            =                     
    wh                                 =                     