    d                                  =                     
    dfile                              =                  
    dt                                 =                     
    nshape                             =                     
    pnoise                             =                     
    showshaper                         =                     
    showwshaper                        =                     
    verbose                            =                     
    w                                  =                
    wfile                              =                     