	dphase_min                         =                           
    mode                               = freq                 
    trend                              = 0                   
    unwrap                             = 0                   
    wint                               = 1          
    zeromean                           = 0                   