    f0                                 = 330                 
    f1                                 = 3000                
    fill                               = 0                   
    ic                                 = 1                   
    n1                                 = 500                 
    nc                                 = 20                  
    rule                               = 110                 
    seed                               = from_clock          
    tc                                 = 1                   
    verbose                            = 0                   
