    ir                                 = -                   
    ix                                 = -                   
    iy                                 = -                   
    logx                               = 0                   
    logy                               = 0                   
    max_x                              = -                   
    max_y                              = -                   
    min_x                              = -                   
    min_y                              = -                   
    nx                                 = 100                 
    ny                                 = 100                 
    rmax                               = -                   
    rmin                               = -                   
