    afile                              = input               
    cip                                = x1,z1,r1,...,       
    dfile                              = output              
    doff                               = offset              
    dx                                 = horizontal          
    dz                                 = vertical            
    fx                                 = x-coordinate        
    fz                                 = z-coordinate        
    infile                             = input               
    noff                               = number              
    nx                                 = number              
    nz                                 = number              
    nzw                                = 0                   
    off0                               = first               
    outfile                            = output              
