    bias                               = value               
    in                                 = stdin               
    in2                                = second              
    isig                               = point               
    n                                  = size_of_in          
    op                                 = pinv                
    out                                = 1/in^2              
    scale                              = value               
