    i                                  = 1,n2                
    j                                  = 1,n1)               
    n                                  = )                   
    n1                                 = 1                   
    outpar                             = /dev/tty            
