    XY                                 = Value               
    abtime                             = If                  
    dx                                 = Geophone            
    error                              = estimated           
    nt                                 = Number              
    v0                                 = Velocity            
