    alpha                              = 2                   
    beta                               = 1                   
    dv                                 = 0                   
    ev                                 = 0                   
    gamma                              = 0                   
    outpar                             = /dev/tty            
    rho                                = 1                   
    sign                               = 1)                  
    x1                                 = symmetry            
    x3                                 = vertical            
