    aspect                             = 0                   
    cdens                              = 0                   
    fill                               = 0                   
    outpar                             = /dev/tty            
    rho                                = 2.8                 
    vp                                 = 4.5                 
    vs                                 = 2.53                
