    NPAIRS                             = NFREQ*NSHOT*NGEO*2  
    both                               = 1                   
    c                                  = 5000                
    dgx                                = 100                 
    dgz                                = 0                   
    dsx                                = 100                 
    dsz                                = 0                   
    fmax                               = 125                 
    fmin                               = 5                   
    fnyq                               = 125                 
    gxmin                              = 0                   
    gzmin                              = 0                   
    n                                  = NPAIRS,NSTEP        
    nfreq                              = 1                   
    ngeo                               = 1                   
    npairs                             = :                   
    nshot                              = NSHOT               
    nstep                              = 0                   
    outpar                             = /dev/tty            
    sxmin                              = 0                   
    szmin                              = 0                   
    x0                                 = 1000                
    z0                                 = 1000                
