    PHI                                = 0.                  
    a_file                             = -1,                 
    azimuth                            = 0.                  
    dangle                             = 1                   
    dazim                              = 1                   
    delta1                             = 0                   
    delta1_1                           = 0                   
    delta1_2                           = 0                   
    delta1_3                           = 0                   
    delta1_v                           = 0                   
    delta2_3                           = 0                   
    eps1                               = 0                   
    eps1_1                             = 0                   
    eps1_2                             = 0                   
    eps1_v                             = 0                   
    eps2                               = 0                   
    eps2_1                             = 0                   
    eps2_2                             = 0                   
    eps2_v                             = 0                   
    fangle                             = 0                   
    fazim                              = 0                   
    gamma1                             = 0                   
    gamma1_1                           = 0                   
    gamma1_2                           = 0                   
    gamma1_v                           = 0                   
    hspace1                            = ISO                 
    hspace2                            = ISO                 
    kappa                              = 0.                  
    langle                             = 30                  
    lazim                              = 0                   
    out_Error                          = error.out           
    out_P                              = Rpp.out             
    out_S                              = Rps.out             
    out_SVSH                           = Rsvsh.out           
    out_inf                            = info.out            
    rho1                               = 2.7                 
    vp1                                = 2                   
    vp2                                = 2.5                 
    vs1                                = 1                   
