    eta                                = 1.6666667           
    h                                  = .01                 
    mode                               = xy                  
    record                             = 2000:2000:2000      
    rho                                = 28.0                
    sigma                              = 10.0                
    stepmax                            = 2000                
    tol                                = 1.e-08              
    y0                                 = 1.0                 
    y1                                 = -1.0                
    y2                                 = 1.0                 
