    dconly                             = 0                   
    dfile                              = difference          
    dmrafile                           = difference          
    mralevel1                          = 3                   
    mralevel2                          = 3                   
    n1                                 = size                
    n2                                 = size                
    nc1                                = n1/2                
    nc2                                = n2/2                
    order                              = 6                   
    p1                                 = maximum             
    p2                                 = maximum             
    reconfile                          = reconstructed       
    reconmrafile                       = reconstructed       
    trimfile                           = if                  
    trunc                              = 0.0                 
    verbose                            = 0                   
