    ir                                 = -                   
    ix                                 = column              
    iy                                 = column              
    logx                               = 0                   
    logy                               = 0                   
    max_x                              = maximum             
    max_y                              = maximum             
    min_x                              = minimum             
    min_y                              = minimum             
    norm                               = selected            
    nx                                 = 100                 
    ny                                 = 100                 
    rmax                               = -                   
    rmin                               = -                   
