    amax                               = 90                  
    amin                               = 0                   
    aperx                              = 0.5*nx*dx           
    csfile                             = csfile              
    da                                 = 2                   
    dt                                 = 0.008               
    dx                                 = 100                 
    dxo                                = dx                  
    dxs                                = 2*dxo               
    dz                                 = 100                 
    dzo                                = dz                  
    ek                                 = 1                   
    fa                                 = -60                 
    fac                                = 0.01                
    fx                                 = 0                   
    fxo                                = fx                  
    fxs                                = fx                  
    fz                                 = 0                   
    fzo                                = fz                  
    ms                                 = 10                  
    mx                                 = min(nx,2*(1+aperx/dx)).
    na                                 = 61                  
    npv                                = 0                   
    nt                                 = 401                 
    nx                                 = 101                 
    nxo                                = nx                  
    nxs                                = 1                   
    nz                                 = 101                 
    nzo                                = nz                  
    pvfile                             = pvfile              
    restart                            = n                   
    surf                               = "0,0;99999,0"       
    tfile                              = stdout              
    tvfile                             = tvfile              
    vfile                              = stdin               
