    SV                                 = 0                   
    VP0file                            = name                
    amax                               = 90                  
    amin                               = 0                   
    aperx                              = 0.5*nx*dx           
    da                                 = 2                   
    dsx                                = 2*dxo               
    dt                                 = 0.008               
    dx                                 = 100.0               
    dxo                                = dx                  
    dz                                 = 100.0               
    dzo                                = dz                  
    fa                                 = -60                 
    fac                                = 0.01                
    fsx                                = fx                  
    fx                                 = 0                   
    fxo                                = fx                  
    fz                                 = 0                   
    fzo                                = fz                  
    na                                 = 61                  
    nsx                                = 1                   
    nt                                 = number              
    nx                                 = number              
    nxo                                = nx                  
    nz                                 = number              
    nzo                                = nz                  
    parameterfiles                     = nt=                 
