    azimuth                            = 0                   
    coeffile                           = coeff.data          
    dangle                             = 1                   
    delta1                             = 0                   
    delta2                             = 0                   
    eps1                               = 0                   
    eps2                               = 0                   
    fangle                             = 0                   
    gamma1                             = 0                   
    gamma2                             = 0                   
    ibin                               = 1                   
    info                               = 0                   
    iscale                             = 0                   
    langle                             = 45                  
    modei                              = 0                   
    modet                              = 0                   
    outparfile                         = outpar              
    rho1                               = 2.7                 
    rho2                               = 2.7                 
    rort                               = 1                   
    test                               = 1                   
    vp1                                = 2                   
    vp2                                = 2                   
    vs1                                = 1                   
    vs2                                = 1                   
