    ni1                                = 1                   
    ni2                                = 1                   
    ni3                                = 1                   
    no1                                = 1                   
    no2                                = 1                   
    no3                                = 1                   
    verbose                            = 0                   
