    d1                                 = 1.0                 
    d1r                                = d1                  
    f1                                 = d1                  
    f1r                                = f1                  
    n1                                 = all                 
    n1r                                = n1                  
    n2                                 = all                 
