    a                                  = .2                  
    b                                  = .2                  
    c                                  = 5.7                 
    h                                  = .01                 
    mode                               = xy                  
    record                             = 2000:2000:2000      
    stepmax                            = 2000                
    tol                                = 1.e-08              
    y0                                 = 1.0                 
    y1                                 = -1.0                
    y2                                 = 1.0                 
