    efile                              = =efilename          
    n1                                 = number              
    n2                                 = number              
    r1                                 = 0                   
    r2                                 = 0                   
    rw                                 = 0                   
    win                                = 0,n1,0,n2           
