    method                             = interpolation_method
    n1                                 = 100                 
    ninf                               = 5                   
    npmax                              = 101                 
    r                                  = 100                 
    tfile                              = tfilename           
    z                                  = 0.                  
