    i1s                                = 0                   
    id1s                               = 1                   
    id2s                               = 1                   
    id3s                               = 1                   
    if1s                               = 0                   
    if2s                               = 0                   
    if3s                               = 0                   
    ix1s                               = if1s,if1s+id1s,...indices
    ix2s                               = if2s,if2s+id2s,...indices
    ix3s                               = if3s,if3s+id3s,...indices
    n1                                 = nfloats             
    n1s                                = 1+(n1-if1s-1)/id1s  
    n2                                 = nfloats/n1          
    n2s                                = 1+(n2-if2s-1)/id2s  
    n3                                 = nfloats/(n1*n2)     
    n3s                                = 1+(n3-if3s-1)/id3s  
