    delta                              = 0                   
    eps                                = 0                   
    gamma                              = 0                   
    outpar                             = /dev/tty            
    phi                                = 0                   
    rho                                = 1                   
    sign                               = 1                   
    vp                                 = 2                   
    vs                                 = 1                   
