    eps                                = 0                   
    gamma                              = 0                   
    outpar                             = /dev/tty            
    vp                                 = 2                   
    vs                                 = 1                   
    weak                               = 1                   
