    n1                                 = n2=                 
    n3                                 = all                 
    nbpe                               = sizeof(float)       
    perm                               = 231                 
    scratchdir                         = /tmp                
    scratchstem                        = foo                 
    verbose                            = 0                   
