    2                                  = qc                  
    cdp                                = 15,35,...,95        
    mode                               = 1                   
    prefix                             = Prefix              
    tnmo                               = t951,t952,...,t95n  
    vnmo                               = v951,v952,...,v95n  
