    DATA_SEISMIC_BIN                   = $Project->DATA_SEISMIC_BIN();
    DATA_SEISMIC_SU                    = $Project->DATA_SEISMIC_SU();
    DATA_SEISMIC_TXT                   = $Project->DATA_SEISMIC_TXT();
    Project                            = new                 
    VERSION                            = '0.0.1';            
    _Step                              = >                   
    _c11_file                          = >                   
    _c13_file                          = >                   
    _c15_file                          = >                   
    _c33_file                          = >                   
    _c35_file                          = >                   
    _c44_file                          = >                   
    _c55_file                          = >                   
    _c66_file                          = >                   
    _dddx                              = >                   
    _dddz                              = >                   
    _dedx                              = >                   
    _dedz                              = >                   
    _delta00                           = >                   
    _dgdx                              = >                   
    _dgdz                              = >                   
    _dqdx                              = >                   
    _dqdz                              = >                   
    _drdx                              = >                   
    _drdz                              = >                   
    _dvpdx                             = >                   
    _dvpdz                             = >                   
    _dvsdx                             = >                   
    _dvsdz                             = >                   
    _dx                                = >                   
    _dz                                = >                   
    _eps00                             = >                   
    _fx                                = >                   
    _fz                                = >                   
    _gamma00                           = >                   
    _method                            = >                   
    _n1                                = >                   
    _ninf                              = >                   
    _note                              = >                   
    _npmax                             = >                   
    _nx                                = >                   
    _nz                                = >                   
    _paramtype                         = >                   
    _phi00                             = >                   
    _q00                               = >                   
    _q_file                            = >                   
    _rho00                             = >                   
    _rho_file                          = >                   
    _tfile                             = >                   
    _vp00                              = >                   
    _vs00                              = >                   
    _x0                                = >                   
    _z0                                = >                   
    c11_file                           = '.$unif2aniso->{_c11_file};
    c13_file                           = '.$unif2aniso->{_c13_file};
    c15_file                           = '.$unif2aniso->{_c15_file};
    c33_file                           = '.$unif2aniso->{_c33_file};
    c35_file                           = '.$unif2aniso->{_c35_file};
    c44_file                           = '.$unif2aniso->{_c44_file};
    c55_file                           = '.$unif2aniso->{_c55_file};
    c66_file                           = '.$unif2aniso->{_c66_file};
    dddx                               = '.$unif2aniso->{_dddx};
    dddz                               = '.$unif2aniso->{_dddz};
    dedx                               = '.$unif2aniso->{_dedx};
    dedz                               = '.$unif2aniso->{_dedz};
    delta00                            = '.$unif2aniso->{_delta00};
    dgdx                               = '.$unif2aniso->{_dgdx};
    dgdz                               = '.$unif2aniso->{_dgdz};
    dqdx                               = '.$unif2aniso->{_dqdx};
    dqdz                               = '.$unif2aniso->{_dqdz};
    drdx                               = '.$unif2aniso->{_drdx};
    drdz                               = '.$unif2aniso->{_drdz};
    dvpdx                              = '.$unif2aniso->{_dvpdx};
    dvpdz                              = '.$unif2aniso->{_dvpdz};
    dvsdx                              = '.$unif2aniso->{_dvsdx};
    dvsdz                              = '.$unif2aniso->{_dvsdz};
    dx                                 = '.$unif2aniso->{_dx};
    dz                                 = '.$unif2aniso->{_dz};
    empty_string                       = $var->{_empty_string};
    eps00                              = '.$unif2aniso->{_eps00};
    false                              = $var->{_false};     
    fx                                 = '.$unif2aniso->{_fx};
    fz                                 = '.$unif2aniso->{_fz};
    gamma00                            = '.$unif2aniso->{_gamma00};
    get                                = new                 
    index                              = number              
    max_index                          = 36;                 
    method                             = '.$unif2aniso->{_method};
    n1                                 = '.$unif2aniso->{_n1};
    ninf                               = '.$unif2aniso->{_ninf};
    npmax                              = '.$unif2aniso->{_npmax};
    nx                                 = '.$unif2aniso->{_nx};
    nz                                 = '.$unif2aniso->{_nz};
    off                                = $var->{_off};       
    on                                 = $var->{_on};        
    paramtype                          = '.$unif2aniso->{_paramtype};
    phi00                              = '.$unif2aniso->{_phi00};
    q00                                = '.$unif2aniso->{_q00};
    q_file                             = '.$unif2aniso->{_q_file};
    rho00                              = '.$unif2aniso->{_rho00};
    rho_file                           = '.$unif2aniso->{_rho_file};
    tfile                              = '.$unif2aniso->{_tfile};
    true                               = $var->{_true};      
    unif2aniso                         = {                   
    var                                = $get->var();        
    vp00                               = '.$unif2aniso->{_vp00};
    vs00                               = '.$unif2aniso->{_vs00};
    x0                                 = '.$unif2aniso->{_x0};
    z0                                 = '.$unif2aniso->{_z0};
