    c11_file                           = c11_file            
    c13_file                           = c13_file            
    c15_file                           = c15_file            
    c33_file                           = c33_file            
    c35_file                           = c35_file            
    c55_file                           = c55_file            
    dddx                               = 0.0,0.0,...,        
    dddz                               = 0.0,0.0,...,        
    dedx                               = 0.0,0.0,...,        
    dedz                               = 0.0,0.0,...,        
    delta00                            = 0,0,0...,           
    drdx                               = 0.0,0.0,...,        
    drdz                               = 0.0,0.0,...,        
    dvpdx                              = 0.0,0.0,...,        
    dvpdz                              = 0.0,0.0,...,        
    dx                                 = 10                  
    dz                                 = 10                  
    eps00                              = 0,0,0...,           
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    method                             = linear              
    n1                                 = 100                 
    ninf                               = 5                   
    npmax                              = 201                 
    ns                                 = 0                   
    nufile                             = binary              
    nx                                 = 100                 
    nz                                 = 100                 
    rho00                              = 1000,1100,...,      
    tfile                              = testfilename        
    vp00                               = 1500,2000,...,      
    x0                                 = 0.0,0.0,...,        
    z0                                 = 0.0,0.0,...,        
