    a                                  = (from               
    f                                  = (from               
    format                             = %.3f                
    idx                                = 23                  
    invert                             = 0),                 
    letter                             = 1                   
    lon0                               = central             
    verbose                            = 0                   
    xoff                               = 500000              
    ynoff                              = 0                   
    ysoff                              = 10000000            
