    dt                                 = 1.0                 
    dz                                 = 1.0                 
    ft                                 = 0.0                 
    fz                                 = 0.0                 
    intype                             = vintz               
    nt                                 = all                 
    nx                                 = all                 
    nz                                 = all                 
    outtype                            = output              
