    VP0                                = 2000                
    amax                               = 360                 
    amin                               = 0                   
    boundary                           = file                
    cip1                               = x1,r1,r2,...,       
    cip2                               = x2,r1,r2,...,       
    dcdp                               = cdp                 
    del                                = 0.0                 
    dfile                              = file                
    doff                               = offset              
    dt                                 = 0.008               
    dx                                 = 10                  
    dz                                 = 10                  
    efile                              = file                
    eps                                = 0.0                 
    fcdp                               = first               
    fx                                 = 0                   
    fz                                 = 0                   
    kx                                 = 0.0                 
    kz                                 = 0.0                 
    method                             = akima               
    nbound                             = 2                   
    ncdp                               = number              
    noff                               = number              
    npicks1                            = number              
    npicks2                            = number              
    nt                                 = 500                 
    nx                                 = 100                 
    nz                                 = 100                 
    off0                               = first               
    r1                                 = 0                   
    r2                                 = 0                   
    refl1                              = file                
    refl2                              = file                
    rw                                 = 0                   
    tol                                = 0.1                 
    vfile                              = file                
    win                                = 0,n1,0,n2           
    x00                                = 0.0                 
    z00                                = 0.0                 
