    a                                  = velocity            
    dt                                 = time                
    nt                                 = number              
    v0                                 = velocity            
    velocity                           = v0                  
