    afile                              = afile               
    bfile                              = bfile               
    dx                                 = 1.0                 
    dz                                 = 1.0                 
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    nx                                 = number              
    nz                                 = number              
    sfile                              = sfile               
    xs                                 = x                   
    zs                                 = z                   
