    height                             = scale               
    npairs                             = number              
    nx1                                = 100                 
    nx2                                = 100                 
    scale                              = 1.0                 
    x1pad                              = 2                   
    x2pad                              = 2                   
    yx                                 = 0                   
