    anenv                              =                     
    c                                  =                     
    depthref                           =                     
    dt                                 =                     
    dx                                 =                     
    fx                                 =                     
    gopt                               =                     
    ninterp                            =                     
    nintlh                             =                     
    niter                              =                     
    noise                              =                     
    norm                               =                     
    np                                 =                     
    offref                             =                     
    plot                               =                     
    pmax1                              =                     
    pmax2                              =                     
    pmin1                              = -                   
    pmin2                              =                     
    pmula                              =                     
    pmulb                              =                     
    prewhite                           =                     
    r1                                 =                     
    r2                                 =                     
    rel1                               =                     
    rel2                               =                     
    rgt                                =                     
    scl                                =                     
    sditer                             =                     
    signal                             =                     
    sts                                =                     
    tmpdir                             =                     
    verbose                            =                     