    cdp                                =                     
    eta                                =                    
    etamax                             =                     
    etamin                             =                     
    ncdps                              =                     
    neta                               =                     
    nv                                 =                     
    nvstack                            =                     
    t                                  =                    
    v                                  =                    
    vmax                               =                    
    vmin                               =                    
    vminstack                          =                     
    vscale                             =                     