    dt                                 =                     
    norm                               =                     
    ns                                 =                     
    t0                                 =                     
    t1                                 =                     