    d1                                 = 
    d2                                 =                     
    d3                                 =                     
    n1                                 =                     
    n2                                 =                     
    n3                                 =                     
    o1                                 =                     
    o2                                 =                     
    o3                                 =                     