    min                                =                 
    ntr                                =                     
    taper                              =                     
    tbeg                               =                 
    tend                               =                     
    tr1                                =                     
    tr2                                =                     