    a                                  =                     
    b                                  =                   
    inv                                =                     
    key                                =                     
    key2                               =                     
    scale                              =                   