    d1                                 =               
    d2                                 =                
    f1                                 =               
    f2                                 =                
    mode                               = max                 
    num_tr|ntr|n2                      =               
    tmpdir                             =                  
    verbose                            = 0                   