    2                                  = 's                  
    3                                  = 's                  
    4                                  = 's                  
    5                                  = 's                  
    6                                  = 's                  
    d                                  = .                   
    dx                                 = .                   
    e                                  = .                   
    file                               =                     
    h                                  =                     
    ntpad                              =                     
    nxmax                              =                     
    nxpad                              =                     
    option                             = -                   
    v                                  =                     