    dz                                 =         
    fz                                 =         
    nz                                 =
    t                                  =     
    v                                  = 1500.0,...          
    verbose                            = 0                   
    vfile                              =           