    dtratio                            =                     
    dv                                 =                     
    dvh                                =                     
    fv                                 =                     
    fvh                                =                     
    j                                  =                     
    nsmooth                            = +1                  
    nv                                 =                     
    nvh                                =                     
    vavg                               = +0                  
    verbose                            =                     
    xod                                =                     