    dt                                 =                     
    ft                                 =                     
    nt                                 = +                   
    v                                  = ,...                
    verbose                            =                     
    vfile                              =                     
    z                                  = ,100,200,...        