    dt                                 =                     
    dz                                 =                     
    ft                                 =                     
    fz                                 =                     
    intype                             =                     
    nt                                 =                     
    nx                                 =                     
    nz                                 =                     
    outtype                            =                     